{% extends "layout.html" %}
{% load static %}
{% load text_filters %}

{% block title %}
    Donate — {{ settings.TITLE }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="Donate — {{ settings.TITLE }}">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}/donate/">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/static/images/favicon_128.png">
    <meta property="og:description" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Donate — {{ settings.TITLE }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/static/images/favicon_128.png">
    <meta name="twitter:image:src" content="{{ request.scheme }}://{{ request.get_host }}/static/images/favicon_128.png">
{% endblock %}

{% block body %}
<div class="container">
    <div class="block donate">
        <div class="block-title">
            👍🏼 Support author
        </div>

        <div class="block-description">
            Independent authors online are a dying breed.
            They exist solely thanks to the people who support them.
            If you like what I do, donating is the best way to say "thank you."
        </div>

        <div class="donate-selector">
            <div class="donate-selector-item" style="line-height: 40px;" onclick="return showDonateTab(event, '#donate-amount-1');">$1</div>
            <div class="donate-selector-item donate-selector-item-active" style="line-height: 40px;" onclick="return showDonateTab(event, '#donate-amount-2');">$5<br></div>
            <div class="donate-selector-item" style="line-height: 40px;" onclick="return showDonateTab(event, '#donate-amount-3');">$10<br></div>
            <div class="donate-selector-item" style="line-height: 40px;" onclick="return showDonateTab(event, '#donate-amount-4');">$50<br></div>
            <div class="donate-selector-item" style="line-height: 40px;" onclick="return showDonateTab(event, '#donate-amount-5');"><small>Custom</small></div>
        </div>

        <div class="donate-amount" id="donate-amount-1">
            <img src="{% static "images/donate/server.jpg" %}">
            <strong>New Server</strong><br>
            We only use 100% recycled high-quality and high-performance PC parts from Aotearoa!
        </div>

        <div class="donate-amount donate-amount-active" id="donate-amount-2">
            <img src="{% static "images/donate/rose.jpg" %}">
            <strong>Friday's Rose</strong><br>
            Clinical studies have shown: Marlborough's Rosé is the most effective tool for generating ideas for a new blog post. I'm not sure why that is.
        </div>

        <div class="donate-amount" id="donate-amount-3">
            <img src="{% static "images/donate/mindset.jpg" %}">
            <strong>For bold ideas</strong><br>
            We sometimes afraid to tell people that we share their ideas.
            That's why we feel lonely. Now, you can tell this without words.
        </div>

        <div class="donate-amount" id="donate-amount-4">
            <img src="{% static "images/donate/pm.jpg" %}">
            <strong>Mr Luxon</strong><br>
            Nah, nobody contributes that much. This donation is only for the strongest and bravest owners of life.
        </div>

        <div class="donate-amount" id="donate-amount-5">
            <img src="{% static "images/donate/other.jpg" %}">
            <strong>For mates</strong><br>
            Everyone has already figured out that these switches don't actually do anything and are just a funny psychological manipulation.
        </div>
    </div>


    <div class="block donate-service">
        <div class="donate-service-description">
            <strong>Stripe</strong><br>
            Supports cards, Apple and Google Pay.
        </div>
        <div class="donate-service-button">
            <a href="https://buy.stripe.com/7sI4j68Vi2uT1448ww" class="button" target="_blank">
                💶 Donate
            </a>
        </div>
    </div>

    <!--div class="block donate-service">
        <div class="donate-service-description">
            <strong>PayPal</strong><br>
            Is it dead yet? For those who have some spare change left in their account.
        </div>
        <div class="donate-service-button">
            <a href="https://paypal.me/heynikblog" class="button" target="_blank">
                💰 PayPal.me
            </a>
        </div>
    </div-->

    <!--div class="block donate-service">
        <div class="donate-service-description">
            <strong>На Патреоне</strong><br>
            Там можно заносить автоматически и получить ранний доступ и прочие плюшки.
        </div>
        <div class="donate-service-button">
            <a href="https://www.patreon.com/" class="button" target="_blank">❤️ Стать Патроном</a>
        </div>
    </div-->

</div>

<script>
    function showDonateTab(event, tabId) {
        document.querySelectorAll(".donate-selector-item").forEach(item => {
            item.classList.remove("donate-selector-item-active");
        });
        event.target.classList.add("donate-selector-item-active");

        document.querySelectorAll(".donate-amount").forEach(item => {
            item.classList.remove("donate-amount-active");
        });

        let tab = document.querySelector(tabId);
        tab.classList.add("donate-amount-active");
    }
</script>
{% endblock %}
