<a href="{{ post.get_absolute_url }}" class="feed-post h-entry{% if post.main_image %} feed-post-with-image{% endif %}">
    {% if post.main_image %}
        <span class="feed-post-image">
            <img src="{{ post.main_image }}" alt="" loading="lazy">
        </span>
    {% endif %}
    <span class="feed-post-meta">
        <time class="feed-post-date dt-published" datetime="{{ post.published_at|date:'Y-m-d' }}">{{ post.published_at|date:"d M Y" }}</time>
        {% if post.view_count %}
            <span class="feed-post-views"><i class="fas fa-eye"></i>&nbsp;{{ post.view_count }}</span>
        {% endif %}
    </span>
    <span class="feed-post-title p-name">{{ post.title }}</span>
    {% if post.subtitle %}
        <span class="feed-post-subtitle p-summary">{{ post.subtitle }}</span>
    {% endif %}
</a>
