{% extends "emails/layout.html" %}
{% load text_filters %}
{% load posts %}

{% block preview %}
    {{ post.title }}{% if post.subtitle %}. {{ post.subtitle }}{% endif %}
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{%  block subtitle %}
    New post from heynik.blog
{% endblock %}

{% block body %}
    <p>
        Hello folks!
    </p>

    <p>
        Nik's here. A new post has been baked today and, as promised, I am sending it to you. Enjoy!
    </p>

    <a href="https://heynik.blog/{{ post.type }}/{{ post.slug }}/">
        <img src="{% if post.og_image %}{{ post.og_image }}{% else %}{{ post.image }}{% endif %}" alt="{{ post.title }}">
    </a>

    {% if post.announce_text %}
        <p>
            {{ post.announce_text | markdown | safe }}
        </p>
    {% endif %}

    <p>
        <a href="https://heynik.blog/{{ post.type }}/{{ post.slug }}/" class="button button-big">
            👉 Take me to the post
        </a>
    </p>

    <br><br><br><br><br>

    <hr>

    <p>
        I try to send emails only to those who want and read them.
        Therefore, here is a big button so you can unsubscribe from my emails and remove your email from the database at any moment.
    </p>

    <p>
        <a href="https://heynik.blog/unsubscribe/{{ subscriber.secret_hash }}/" class="button">
            ☠️ Unsubscribe
        </a>
    </p>
{% endblock %}

{% block footer %}
    <a href="https://heynik.blog/unsubscribe/{{ subscriber.secret_hash }}/" style="display: inline-block; float: right;">Unsubscribe</a>
{% endblock %}
