{% extends "emails/layout.html" %}

{% block title %}
    Confirm your subscription
{% endblock %}

{% block body %}
    <p>
        Someone — possibly you — entered this email address to subscribe to new posts from heynik.blog.
    </p>

    <p>
        Confirm below to start receiving them.
    </p>

    <p style="text-align: center;">
        <a href="https://heynik.blog/subscribe/confirm/{{ secret_hash }}/" class="button button-big">
            Confirm subscription
        </a>
    </p>

    <br><br>

    <p>
        If this wasn't you, ignore this email or remove your address from the database <a href="https://heynik.blog/unsubscribe/{{ secret_hash }}/">here</a>. Nothing will be sent without confirmation.
    </p>
{% endblock %}
