{% extends "emails/layout.html" %}

{% block title %}
    Confirm your subscription
{% endblock %}

{% block body %}
    <p>
        Heya! 👋🏼
    </p>

    <p>
        Someone, possibly even you, wants to receive new posts from the my blog at this address.
        Click here to confirm this 👇
    </p>

    <p style="text-align: center;">
        <a href="https://heynik.blog/subscribe/confirm/{{ secret_hash }}/" class="button button-big">
            👍 Yes, I want to subscribe
        </a>
    </p>

    <br><br>

    <p>
        If you do not know what this is about, it means someone mistakenly entered your email address.
        Simply ignore this email or click <a href="https://heynik.blog/unsubscribe/{{ secret_hash }}/">here</a>, to completely erase your email from the database.
        Without your consent via the button above, I will not send anything.
    </p>
{% endblock %}
