<section class="container {% if block.posts.0.type == 'books' %}container-feed{% else %}container-width-max{% endif %}">
    {% if block.title %}
        <div class="header-1">
            {% if block.url %}
                <a href="{{ block.url }}">{{ block.title }}</a>
            {% else %}
                {{ block.title }}
            {% endif %}
        </div>
    {% endif %}

    {% if block.posts.0.type == 'books' %}
        <div class="book-list">
            {% for post in block.posts %}
                {% include "posts/cards/book.html" %}
            {% endfor %}
        </div>
    {% else %}
        <div class="cards-group cards-group-3x">
            {% for post in block.posts %}
                {% include "posts/cards/horizontal.html" %}
            {% endfor %}
        </div>
    {% endif %}
</section>
