{% extends "layout.html" %}

{% block title %}
    Login — {{ block.super }}
{% endblock %}

{% block body %}
<div class="container block">
    <div class="block-title">Sign-in Here 👤</div>

    <div class="block-description">
        Previously, comments were open to everyone, but over time they became filled with idiocy and spam, so now commenting is only available to Insiders.
    </div>



{#    <div class="block-description">#}
{#        Однако, в тестовом режиме у нас есть еще и авторизация через телеграм, с ограничением 1 комментарий в сутки.#}
{#    </div>#}
{##}
{#    <div class="block-description">#}
{#        <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="vas3k_bot" data-size="large" data-auth-url="http://127.0.0.1:8000/auth/telegram_callback/" data-request-access="write"></script>#}
{#    </div>#}
</div>
{% endblock %}

