{% extends "posts/full/layout.html" %}

{% block body %}
    <div class="container">
        <div class="members-only">
            <div class="members-only-story">
                <div class="members-only-story-cover"></div>
                {% include "posts/cards/vertical.html" %}
            </div>

            <div class="members-only-info">
                <h2>🎩 Post for Insiders Onlyх</h2>

                <p>
                    Unfortunately, some topics need to be discussed away from the vast internet. This is one of them.
                </p>

                <p>
                    The post is only available to those who donate to me.
                </p>

                <a href="{% url "login" %}" class="button members-only-button">Login</a><br>
            </div>
        </div>
    </div>
{% endblock %}
