{% load static %}

<div class="header h-card">
    <a href="{% url "index" %}" class="header-logo u-url">
        <img src="{% static "images/logo.png" %}" alt="" class="header-logo-image u-photo">
        <span class="header-logo-title p-name">Hey, Nik</span>
    </a>

    <div class="button button-inverted button-round header-burger show-on-iphone"
         onclick="return document.getElementById('header-menu').classList.toggle('header-menu-visible');"
    >
        ≡
    </div>

    <div class="header-menu hide-on-iphone" id="header-menu" hx-boost="true">

        <a href="{% url "list_posts" "thoughts" %}" class="button button-inverted header-menu-item">
            <span>🧠</span>
            <span>Think</span>
        </a>

        <a href="{% url "list_posts" "books" %}" class="button button-inverted header-menu-item">
            <span>📚</span>
            <span>Read</span>
        </a>

        <a href="{% url "subscribe" %}" class="button button-inverted header-menu-item">
            <span>✅</span>
            <span>Subscribe</span>
        </a>

        <a href="{% url "list_posts" "all" %}" class="button button-inverted header-menu-item">
            <span>🗞️️</span>
            <span>All Posts</span>
        </a>

        <!--a href="{% url "donate" %}" class="button button-inverted header-menu-item">
            <span>👍</span>
            <span>Donate</span>
        </a-->

        <div class="button button-inverted button-round header-menu-item header-menu-round" onclick="return toggleHeaderSearch(event, '#header-search');">
            🔍
        </div>

        <!--a href="{% url "profile" %}" class="button button-inverted avatar header-menu-item header-menu-round" {% if request.user.is_authenticated %}style="background-image: url('{{ request.user.avatar }}');" {% endif %}>
            {% if not request.user.is_authenticated or not request.user.avatar %}👤{% endif %}
        </a-->
    </div>
</div>

<div class="header-search header-search-hidden" id="header-search">
    <div class="header-search-form">
        <form action="https://www.google.ru/search?q=site%3Aheynik.blog+">
            <input type="hidden" name="domains" value="heynik.blog">
            <input type="hidden" name="sitesearch" value="heynik.blog">
            <input type="text" name="q" placeholder="Search the site..." class="header-search-form-input">
            <button type="submit" class="header-search-form-submit">🔍</button>
        </form>
    </div>
</div>
