<section class="post-subscribe">
    <div class="post-subscribe-header">
        ✅ Subscribe
    </div>

    <div class="post-subscribe-description">
        🗞️ Subscribe for regular posts on Product and Entrepreneurial journey with insights on common mistakes, the relentless pursuit of success, and principles that work.
    </div>

    <div class="post-subscribe-form">
        <form action="{% url "subscribe" %}" method="post">
            <label class="post-subscribe-form-label" for="inside_email">Your e-mail:</label>
            <div class="post-subscribe-form-fields">
                {% csrf_token %}
                <input type="text" name="name" style="position: absolute; left: -99999px;">
                <input type="email" id="inside_email" name="email" placeholder="your@email.com" required="required">
                <button type="submit" class="button button-red">Subscribe</button>
            </div>
            <div class="post-subscribe-form-hint">
                * No robospam, only real stuff from human (me)
            </div>
        </form>
    </div>

    <div class="post-subscribe-sub-header">
        Follow on Social 👇
    </div>

    <div class="post-subscribe-items">
        <a href="https://www.linkedin.com/in/nikilyushkin/" class="button">LinkedIn</a>
        <a href="https://x.com/nikilyushkin" class="button">X</a>
        <a href="{% url "rss.full" %}" class="button">RSS</a>
    </div>
</section>
